.Main {
    magin: 20px;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}

.Title {
    color: darkblue;
    text-align: center;
    padding: 10px;
}

.InputField {
    margin: 5px;
    padding-left: 20px;
    width: 90%;
}

.Approval {
    margin: 12px 5px;
}

.SubmitPanel {
    margin: 6px;
    display: flex;
    align-items: center;
    pointer-events: auto;
}

.SubmitButton {
    margin-left: 120px;
}

.Message {
    padding: 0 0 0 50px;
}
